@model TeamContributionAndBudgetSystemWebApp.Models.TCABS_Db_Context

@{
   ViewBag.Title = "Details";
}


@using( Html.BeginForm( ) )
{
   @Html.AntiForgeryToken( )
   <div>
      <h4>@Html.DisplayFor( model => model.User.Username ) Details</h4>
      <hr />
      @Html.ValidationSummary( true, "", new { @class = "text-danger" } )
      @Html.HiddenFor( model => model.User.UserId )
      <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor( model => model.User.UserId )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.User.UserId )
         </dd>

         <dt>
            @Html.DisplayNameFor( model => model.User.Username )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.User.Username )
         </dd>

         <dt>
            @Html.DisplayNameFor( model => model.User.FirstName )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.User.FirstName )
         </dd>

         <dt>
            @Html.DisplayNameFor( model => model.User.LastName )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.User.LastName )
         </dd>

         <dt>
            @Html.DisplayNameFor( model => model.User.EmailAddress )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.User.EmailAddress )
         </dd>

         <dt>
            @Html.DisplayNameFor( model => model.User.PhoneNumber )
         </dt>

         <dd>
            @Html.DisplayFor( model => model.User.PhoneNumber )
         </dd>
         <dd>
            <table class="table">
               <tr>
                  <th>Roles</th>
               </tr>
               @foreach( var item in Model.User.UserRoles )
               {
                  <tr>
                     <td>
                        @Html.DisplayFor( modelItem => item.Role.Name )
                     </td>
                     <td>
                        @Html.ActionLink( "Delete", "DeleteUserRole", new { id = item.UserRoleId } )
                     </td>
                  </tr>
               }
            </table>
         </dd>
         <div class="form-group">
            <label class="control-label col-md-2" for="RoleId">Add New Role</label>
            <div class="col-md-10">
               @Html.DropDownList( "RoleId", String.Empty )
               @Html.ValidationMessageFor( model => model.UserRoles )
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <input type="submit" name="action" value="Save" class="btn btn-default" />
            </div>
         </div>
      </dl>
   </div>
}
<p>
   @Html.ActionLink( "Edit", "Edit", new { /* id = Model.PrimaryKey */ } ) |
   @Html.ActionLink( "Back to List", "Index" )
</p>
