@model TeamContributionAndBudgetSystemWebApp.Models.TCABS_Db_Context

@{
   ViewBag.Title = "Index";
}

<h2>Role Manager</h2>

<table class="table">
   <tr>
      <th>
         @Html.DisplayNameFor( model => model.User.Username )
      </th>
      <th>
         @Html.DisplayNameFor( model => model.Role.Name )
      </th>
      <th>
      </th>
      <th></th>
   </tr>

   @foreach( var u in Model.Users )
   {
      foreach( var ur in Model.UserRoles )
      {
         foreach( var r in Model.Roles )
         {
            if( r.RoleId == ur.RoleId && ur.UserId == u.UserId )
            {
               <tr>
                  <td>
                     @Html.DisplayFor( modelItem => u.Username )
                  </td>
                  <td>
                     @Html.DisplayFor( modelItem => r.Name )
                  </td>
                  <td>
                     @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                     @Html.ActionLink( "Add Permissions", "Details", new { id = ur.RoleId } )
                     @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                  </td>
               </tr>

            }
         }
      }
   }

</table>
