@model TeamContributionAndBudgetSystemWebApp.Models.TCABS_Db_Context
@{
    ViewBag.Title = "Details";
}

<h2 id="h2"></h2>
@{
    var x = 0;
}

@*<h4>RolePermission</h4>*@
<hr />
<table border="1">
    <tr>
        <th>#</th>
        <th>Table Name</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    @foreach (TeamContributionAndBudgetSystemWebApp.Models.RolePermission rolePermission in @Model.getRolePermissionByRoleId(Model.curRoleId))
    {
          x= x + 1;
        <tr>
            <td width="5">@x</td>
            <td>@rolePermission.Permission.TableName</td>
            <td>@rolePermission.Permission.Action</td>
            <td>@Html.ActionLink("DELETE", "Delete", new { id =rolePermission.Permission.PermissionId+","+rolePermission.RoleId})</td>

        </tr>
    }
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2" for="PermissionId">Add New Perrmission</label>
        <div class="col-md-10">
            @Html.DisplayNameFor(model=>model.Role.RoleId)
            @Html.Display("RoleId",(int)ViewBag.RoleId);
            @*(IEnumerable<SelectListItem>
                )ViewBag.PermissionId*@
                @Html.DropDownList("PermissionId", (IEnumerable<SelectListItem>)ViewBag.PermissionId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserRoles)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="action" value="Save" class="btn btn-default" />
        </div>
    </div>
}


<p>
    @Html.ActionLink("Create", "Create") |
    @Html.ActionLink("Back to List", "Index")
</p>

